---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Animations that make pharmacology easy and memorable.">
    <meta name="author" content="Pharm450">
    <link rel="shortcut icon" href="assets/img/favicon.png">

    <title>Pharm450 - Medical Pharmacology for USMLE STEP1</title>

    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900|Kaushan+Script' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61294270-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand brand"><b>Pharm450</b></div>
        </div>
      </div>
    </div>

	<div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h1>Pharm450 is the easiest way to study pharmacology for STEP1.</h1>

                    We've packed an entire course on medical pharmacology into
                    a set of entertaining videos.

                    <p>{% include mailchimp.html %}</p>

				</div><!-- /col-lg-6 -->
				<div class="col-lg-6">
					<img class="img-responsive" src="http://placehold.it/400x500">
				</div><!-- /col-lg-6 -->

			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->


	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>What is Pharm450?</h1>

                It is a long established fact that a reader will be distracted
				by the readable content of a page when looking at its layout.
			</div>
		</div><!-- /row -->

		<div class="row mt centered">
			<div class="col-lg-4">
				<img src="http://placehold.it/240">
				<h4>1 - Browser Compatibility</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="http://placehold.it/240">
				<h4>2 - Email Campaigns</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				<img src="http://placehold.it/240">
				<h4>3 - Gather Your Notes</h4>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>

			</div><!--/col-lg-4 -->
		</div><!-- /row -->
	</div><!-- /container -->

	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
                {% include mailchimp.html %}
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
	</div><!-- /container -->

	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Flatty is for Everyone.</h1>

                It is a long established fact that a reader will be distracted
				by the readable content of a page when looking at its layout.
			</div>
		</div><!-- /row -->

		<div class="row mt centered">
                <div class="embed-responsive">
                  <iframe width="540" height="330"
                          class="embed-responsive-item"
                          src="https://www.youtube.com/embed/3r3wFNbk-uU"
                          allowfullscreen></iframe>
                </div>
		</div><!-- /row -->
	</div><! --/container -->

	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
                {% include mailchimp.html %}
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
	</div><!-- /container -->

	<div class="container">
		<div class="row mt centered">
			<div class="col-lg-8 col-lg-offset-2">
				<h1>What Coming?</h1>

                We're hard at work distilling the most dense pharmacology into
                bite sized videos.  It's not ready yet, but here are all the
                subject areas of the official NBME STEP1 in the works.
			</div>
		</div><!-- /row -->

		<div class="row mt centered">
			<div class="col-lg-4">
              Musculoskeletal</br>
              Pulmonology</br>
              Cardiology</br>
              Skin</br>
			</div>

			<div class="col-lg-4">
              Immunology</br>
              Hematology</br>
              Psychiatry</br>
              Neurology</br>
			</div>

			<div class="col-lg-4">
              Gastrointestinal</br>
              Reproductive</br>
              Endocrine</br>
              Renal</br>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->

	<div class="container">
		<hr>
		<div class="row centered">
			<div class="col-lg-6 col-lg-offset-3">
                {% include mailchimp.html %}
			</div>
			<div class="col-lg-3"></div>
		</div><!-- /row -->
		<hr>
	</div><!-- /container -->

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>
    <script>
      $('.signup').each(function(){$(this).ajaxChimp({
        url: 'http://pharm450.us10.list-manage.com/subscribe/post?u=bd3c077c8b192175c79f5f984&amp;id=80a3eefd07'
      })});
    </script>

  </body>
</html>
