---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Animations that make pharmacology easy and memorable.">
    <meta name="author" content="Pharm450">
    <link rel="shortcut icon" href="assets/img/favicon.png">

    <title>Pharm450 - Easy Pharm for USMLE Step 1</title>

    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,900|Kaushan+Script" rel="stylesheet" type="text/css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="assets/css/animate.min.css">
    <script src="assets/js/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61294270-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand brand">Pharm450</div>
        </div>
      </div>
    </div>

    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h1>Pharm450 is the easiest way to study pharmacology for USMLE Step 1.</h1>

                    <p>We've packed an entire course on medical pharmacology
                    into a set of entertaining videos that leverage your
                    visual, spatial, and emotional memory so you learn faster
                    and retain more.</p>

                    <div class="wow fadeIn">Sign up to be notified when we go live.
                    {% include mailchimp.html %}</div>
                </div>

                <div class="col-lg-5 centered wow fadeIn" data-wow-delay="0.4s">
                  <img class="img-responsive" src="/assets/imgs/artist_studio-small.png">
                </div>

            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /headerwrap -->


    <div class="container">

        <div class="row mt">
            <div class="col-lg-6">
                <h1>What is Pharm450?</h1>

                <p>We are medical students and we studied for Step 1 just like
                you're doing, so we know how boring it can be.  Instead of
                memorizing lists of facts, wouldn't you just rather sit back
                and watch a movie?</p>

                <p><b>Pharm450 is a collection of movies that are
                entertaining, organized, and packed full of material for the
                test.</b>  In each bite-sized video we draw a scene from
                scratch.  As we sketch the characters and symbols representing
                key pharm facts, we tell a memorable story of how they relate.</p>
            </div>

            <div class="col-lg-6 centered wow fadeIn" data-wow-delay="0.4s">
              <img class="img-responsive" src="/assets/imgs/salty_diner.png">
            </div>
        </div><!-- /row -->


        <div class="row mt">
          <div class="col-lg-6">
            <center><h4>Vivid Scenes</h4></center>

            Each video takes place in a consistent setting like an artist's
            studio, a gym, or the local bar.  Each character or symbol we
            introduce is one typically found in such a setting, so this
            intuitive context reinforces the associations between characters
            and symbols making it easy to recall key facts you'll need to know
            for the test.
          </div>

          <div class="col-lg-6 centered wow fadeIn" data-wow-delay="0.4s">
            <img class="img-responsive" src="http://placehold.it/360">
          </div>
        </div>

        <div class="row mt">
          <div class="col-lg-6">
            <center><h4>Story Time</h4></center>

            Research demonstrates that humans are much better at
            remembering a story than a list, so each video illustrates a
            unique and memorable story that ties together all the symbols
            into a consistent theme.  This provides powerful context that
            will allow you recall key details on test day.


            From there, we tell a logical story as we draw in characters and
            symbols representing important facts for Step 1, but we also take
            time to describe the underlying pathophysiology so we take you
            beyond associations to learn the underlying mechanisms that are
            often tested.
          </div>

          <div class="col-lg-6 centered wow fadeIn" data-wow-delay="0.4s">
            <img class="img-responsive" src="http://placehold.it/360">
          </div>
        </div> <!-- /row -->

        <div class="row mt">
          <div class="col-lg-6">
            <center><h4>Intuitive Symbols</h4></center>

            <p>Each bite-sized video focuses on a related group of medication
            covering indications for use, mechanism of action, side effects,
            and other commonly tested facts.</p>

            {% comment %}
            bananas from 'Potassium Channel Blockers' & 'Adenosine'
            beta
            {% endcomment %}

          </div>

          <div class="col-lg-6 centered wow fadeIn" data-wow-delay="0.4s">
            <img class="img-responsive" src="http://placehold.it/360">
          </div>
        </div>
    </div><!-- /container -->

    <div class="container">
        <div class="row centered">
            <div class="col-lg-6 col-lg-offset-3 wow fadeIn">
                {% include mailchimp.html %}
            </div>
            <div class="col-lg-3"></div>
        </div><!-- /row -->
    </div><!-- /container -->

    <div class="container centered">
        <div class="row mt">
            <div class="col-lg-6 col-lg-offset-3">
                <h1>See it in action</h1>

                Sit back and learn everything you need to know about statins
                and other medications to treat high cholesterol.
            </div>
        </div><!-- /row -->

        <div class="row mt">
                <div class="embed-responsive">
                  <iframe width="560" height="315"
                          class="embed-responsive-item"
                          src="https://www.youtube.com/embed/fTA5HOa87pM"
                          allowfullscreen></iframe>
                </div>
        </div><!-- /row -->
    </div><! --/container -->

    <div class="container">
        <div class="row centered">
            <div class="col-lg-6 col-lg-offset-3 wow fadeIn">
                {% include mailchimp.html %}
            </div>
            <div class="col-lg-3"></div>
        </div><!-- /row -->
    </div><!-- /container -->

    <div class="container">
        <div class="row mt centered">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>What will <span class="brand">Pharm450</span> cover?</h1>

                <div class="row mt centered">
                  <div class="col-lg-4">
                    Musculoskeletal</br>
                    Reproductive</br>
                    Pulmonology</br>
                    Cardiology</br>
                    Autonomic</br>
                    Skin</br>
                  </div>

                  <div class="col-lg-4">
                    Immunology</br>
                    Hematology</br>
                    Psychiatry</br>
                    Neurology</br>
                    Endocrine</br>
                    Renal</br>
                  </div>

                  <div class="col-lg-4">
                    Gastrointestinal</br>
                    Antimicrobial</br>
                    Antiprotozoal</br>
                    Antifungal</br>
                    Antiviral</br>
                  </div>
                </div><!-- /row -->

                We're hard at work distilling the most dense pharmacology into
                bite sized videos.  It's not ready yet, but here are all the
                NBME subject areas of the official USMLE Step 1 in the works.
            </div>
        </div><!-- /row -->
    </div><!-- /container -->

    <div class="container">
        <div class="row centered">
            <div class="col-lg-6 col-lg-offset-3 wow fadeIn">
                {% include mailchimp.html %}
            </div>
            <div class="col-lg-3"></div>
        </div><!-- /row -->
    </div><!-- /container -->

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>
    <script>
      $('.signup').each(function(){$(this).ajaxChimp()});
    </script>

  </body>
</html>
